@import url(https://fonts.googleapis.com/css?family=Muli);

html,
body {
  font-family: Muli, sans-serif;
  background-color: #fcf9fb;
  font-size: 18px;
}

a {
  color: #e5687e;
}

a:hover {
  color: #ff748c;
}

.header-link {
    margin-left: 20px;
    font-size: 24px;
}

#header {
    background-color: #fff0f7;
    padding: 20px;
    margin-bottom: 20px;
}

.project > a {
    width: 200px;
    display: inline-block;
}