.portrait {
  width: 350px;
  max-width: 100%;
}

.navigation {
  line-height: 48px;
  height: 48px;
}

.navbar-logo {
  display: inline-block;
  width: 160px;
}

.navbar-logo > .navbar-link {
  color: #000;
  font-size: 16px;
}

.navbar-item {
  display: inline-block;
  text-align: center;
  min-width: 96px;
}

.navbar-link:hover {
  text-decoration: none;
  font-weight: 500;
}

.social-section {
  float: right;
}

.social-image {
  padding: 0 2px;
  width: 32px;
}

.social-image:hover {
  opacity: 0.5;
}